<div class="container mt-5">
  <h2>Editar Producto</h2>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
      />
      <div
        *ngIf="
          productForm.get('name')?.invalid && productForm.get('name')?.touched
        "
        class="text-danger"
      >
        El nombre es requerido.
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input
        id="price"
        type="number"
        class="form-control"
        formControlName="price"
      />
      <div
        *ngIf="
          productForm.get('price')?.invalid && productForm.get('price')?.touched
        "
        class="text-danger"
      >
        El precio es requerido.
      </div>
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">Categoría</label>
      <input
        id="category"
        type="text"
        class="form-control"
        formControlName="category"
      />
      <div
        *ngIf="
          productForm.get('category')?.invalid &&
          productForm.get('category')?.touched
        "
        class="text-danger"
      >
        La categoría es requerida.
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <textarea
        id="description"
        class="form-control"
        formControlName="description"
      ></textarea>
      <div
        *ngIf="
          productForm.get('description')?.invalid &&
          productForm.get('description')?.touched
        "
        class="text-danger"
      >
        La descripción es requerida.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="productForm.invalid"
    >
      Guardar
    </button>
  </form>
</div>
